body {
  margin-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Google {
  margin: auto;
  width: 70%;
  border: 3px solid green;
  padding: 10px;
}
.btn-google {
  align-items: center;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
  padding: 10px;
  display: inline-flex;
  text-decoration: none;  
}
.icon-google {
  width: 40px;
}
.title-google {
  margin-left: 10px;
  color: black
}
